<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <span class="title" routerLink=""> Parking management system </span>
    <span class="example-spacer"></span>
    <mat-menu #menu="matMenu">
      <div *ngIf="isLoggedIn">
        <button mat-menu-item>My bookings</button>
        <button mat-menu-item>Profile information</button>
        <button mat-menu-item>Preferences</button>
        <button mat-menu-item>Notifications</button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>

      </div>
      <div *ngIf="!isLoggedIn">
        <button mat-menu-item (click)="onLoginClick()" routerLink="/login">Login</button>
        <button mat-menu-item (click)="onRegisterClick()" routerLink="/register">Register</button>
      </div>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
