.title {
  cursor: pointer;
}
.my-bg{
  background-color: #e10075;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000; /* Set a higher z-index for the header */
}
