<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <span> Parking management system </span>
  <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>My bookings</button>
      <button mat-menu-item>Profile information</button>
      <button mat-menu-item>Preferences</button>
      <button mat-menu-item>Notifications</button>

    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
