
<div class="full-page-div">
  <div class="container mt-5">
    <div class="card" style="max-width: 400px; margin: 0 auto; margin-bottom: 20px;">
      <div class="card-header">
        <h3 class="card-title">Login</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
          </div>
          <button class="btn magenta-bg text-white" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
