.magenta-bg{
    background-color:#e10075;
}
.magenta-bg:hover{
    background-color: #e669a9;
  }
.full-page-div {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/cars2.png') no-repeat center center fixed;
    background-size: cover;
    z-index: 1; /* Set a lower z-index for your full-page div */
  }
.card-body{
    width: 100%; /* Take full width of parent */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: center; /* Center elements vertically if there's space */
}
button.btn {
  width: 100%; /* Button width matches form fields */
  max-width: 300px; /* Match the max-width of form fields if needed */
  padding: 10px 20px; /* Adjust padding as needed */
  margin-top: 20px; /* Provide some space above the button */
}
.card-header{
  width: 100%; /* Take full width of parent */
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: center; /* Center elements horizontally */
justify-content: center; /* Center elements vertically if there's space */
}