<div class="full-page-div">
  <div class="parking-lot"> <!-- Add margin-top to create space -->
    <div *ngFor="let spot of parkingSpots; let i = index" class="parking-spot" [class.occupied]="spot.occupied" (mouseover)="onSelectSpot(spot)">
      Spot {{ spot.id }}
      <!-- Add a space after the first spot in each row -->
      <div *ngIf="(i % 1) === 1" class="row-space">ahoj</div>
      
    </div>
  </div>

  <div class=""> <!-- Add margin-top to create space -->
    
    <div *ngIf="selectedSpot" class="spot-details">
      <p>Selected Spot ID: {{ selectedSpot.id }}</p>
      <p>Status: {{ selectedSpot.occupied ? 'Occupied' : 'Free' }}</p>
      <div *ngIf="selectedSpot.occupied">
        <p>Email: {{ selectedSpot.email }}</p>
        <p>Registration Number: {{ selectedSpot.registration_num }}</p>
      </div>
    </div>
  </div>
</div>
