.parking-lot {
  margin: 5vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.parking-spot {
  height: 50px;
  background-color: #ccc; /* Light grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd; /* Light border color */
  cursor: pointer;
}

.parking-spot.occupied {
  background-color: #F44336; /* Red background for occupied spots */
}

.spot-details {
  border: 1px solid #ddd; /* Light border color */
  padding: 10px;
  margin-top: 10px;
  background-color: #f0f0f0;
}

