<div class="full-page-div">
  <div class="parking-lot"> <!-- Add margin-top to create space -->
    <div *ngFor="let spot of parkingSpots; let i = index" class="parking-spot" [class.occupied]="spot.occupied" (mouseover)="onSelectSpot(spot)" (click)="onClickSpot(spot)">
      Spot {{ spot.id }}
      <div *ngIf="(i % 1) === 1" class="row-space">ahoj</div>

    </div>
  </div>

  <div *ngIf="selectedSpot" class="spot-details">
    <div *ngIf="selectedSpot.occupied" class="occupied">
      <p>email: {{ selectedSpot.email }}</p>
      <p>registration number: {{ selectedSpot.registration_num }}</p>
    </div>
  </div>

</div>
