.magenta-bg{
  background-color:#e10075;
}
.magenta-bg:hover{
  background-color: #ec75b2;
}
.full-page-div {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/cars2.png') no-repeat center center fixed;
  background-size: cover;
  z-index: 1;
}

.notification-title {
  font-weight: bold;
}
.card-body{
  width: 100%; /* Take full width of parent */
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: center; /* Center elements horizontally */
justify-content: center; /* Center elements vertically if there's space */
}
.card-header{
width: 100%; /* Take full width of parent */
display: flex;
flex-direction: column; /* Stack elements vertically */
align-items: center; /* Center elements horizontally */
justify-content: center; /* Center elements vertically if there's space */
}